.autocomplete--category-container {
  width: 100%;

  &:last-of-type {
    .autocomplete--category--rows-container {
      border-bottom: none;
    }
  }
}

.autocomplete--category--label-container {
  width: 20%;
  display: inline-block;
  vertical-align: top;
  text-align: center;
  line-height: 70px;
}

.autocomplete--category--rows-container {
  width: 80%;
  display: inline-block;
  border-left: 1px solid #d0d0d0;
  border-bottom: 1px solid #d0d0d0;
}
