.autocomplete--row {
  line-height: 70px;

  &:hover, &:focus {
    background-color: #f0f0f0;
  }
}

.autocomplete--row-image {
  display: table-cell;
  height: 50px;
  width: 70px;
  padding: 10px;
  vertical-align: middle;
  img{
    max-height: 50px;
    max-width: 50px;
  }
}

.autocomplete--row-text {
  display: table-cell;
}
